* {
    margin: 0;
    padding: 0;
}

/*Cabecera*/
header {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
}
.logo {
    height: 160px;
}

/*Cuerpo de la pagina*/
.centro {
    display: flex;
}

/*Zona que cambia*/
main {
    display: flex;
    background-color: rgb(0, 56, 94);
    width: 80%;
    padding-left: 6%;
    flex-direction: column;
}
article {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.imagen_principal {
    width: 100%;
    object-fit: cover;
}
.texto_principal{
    display: flex;
    position: absolute;
    color: aliceblue;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 60px;
    letter-spacing: 20px;
}
.descripcion {
    background-color: aliceblue;
    padding: 2%;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    border-bottom: solid;
}
lu {
    background-color: aliceblue;
    padding: 2%;
}
li {
    padding: 2px;
}

/*Menu de navegacion*/
.navegacion{
    display: flex;
    background-color: rgb(196, 80, 3);
    width: 3%;
    height: 220px;
    justify-content: center;
    border-radius: 20px;
    position: fixed;
    top: 30px;
    z-index: 999;
}
ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-around;
    padding: 0;
}
.icono {
    width: 25px;
    height: auto;
}

/*Menu de viajes*/
.destacados {
    background-color:rgb(0, 56, 94);
    display: flex;
    width: 20%;
    flex-direction: column;
    flex-wrap: wrap;
}
.titulo_destacados {
    display: flex;
    text-align: center;
    color: aliceblue;
    height: max-content;
    padding: 30px;
    font-size: 40px;
    
}
.viajes_destacados{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 1px;
}
a {
    display:flex;
    align-items: center;
}
.contenedor_imagen {
    display: flex;
    position: relative;
    width: 46%;
    border: solid;
    border-radius: 10px;
    border-color: aliceblue;
    transition: transform 0.3s;
    align-items: center;
}
.lugar {
    display: flex;
    width: 100%;
    height: auto;
    border-radius: 10px;
    text-align: center;
}
.texto_encima {
    position: absolute;
    text-align: center;
    font-size: 20px;
    width: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: aliceblue;
}
.contenedor_imagen:hover {
    transform: scale(1.1);
    z-index: 999;
    left:-10px
}


/*Pie de página*/
.derechos {
    background-color: rgb(196, 80, 3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
}

/*Boton para volver arriba*/
aside {
    position: fixed;
	bottom: 10px;
	left: 10px;
}
.flecha {
    width: 35px;
    height: auto;
}